/* create flexbox layout for interactive map */
.all_content_row {
	display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	width: 100%; 
	margin: auto; 
}

/* Create two un-equal columns that sit next to each other */
.left_panel_column {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
	text-align: left;
}

.map_column {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    max-width: 70%;
}

.map-footer {
	position: absolute;
	bottom: 0; 
	background-color: #2b83ba;
	height: 30px;
	width: 30%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
	.left_panel_column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
		text-align: center;
    }
	
	.map_column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
	
	.map-footer {
		display: none;
	}	
}

.heading {
	height: 60px;
	background-color: #2b83ba;
	background-image: url(usa_logo.svg);
	background-repeat: no-repeat;
    background-position: center;
	margin-bottom: 10px; 
}

.info-section {
	padding: 10px;
}

/*make sure map fills entire screen */
#map {
	height: 100vh;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#outcome-info  {
	margin-top: 15px; 
}

#level-info {
	margin-top: 15px; 
}

.usa-conus-zoom-button {
	width: 35px;
    height: 35px;
    display: block;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
	border-radius: 4px; 
	border: 0.2rem solid #ddd;
}

/**
* Set rules for how legend will be displayed
* on the page. */
.map-overlay {
	font-family: Arial, sans-serif;
	overflow: auto;
}

#legend {
	/*line-height: 18px;*/
	height: 120px;
	width: 90%;
	margin-left: auto; 
	margin-right: auto; 
}

.legend label,
.legend span {
	display:block;
	float:left;
	height:15px;
	width:20%;
	text-align:center;
	font-size:12px;
	color:#808080;
	margin-top:5px;
}
